# .NET Core
bin/
obj/

# Pacotes NuGet
packages/

# Arquivos de configuração do Visual Studio
.vs/
.vscode/

# Arquivos de configuração do usuário no Visual Studio
*.user
*.userosscache
*.suo
*.userprefs

# Arquivos temporários de compilação
*.dll
*.exe
*.pdb
*.cache

# Pasta de build do Blazor (se for Blazor WebAssembly)
/wwwroot/_framework/

# Arquivos temporários do sistema
Thumbs.db
ehthumbs.db

# Arquivos gerados pelo ASP.NET Core
appsettings.Development.json
